/* modal dialogs */
.ui-dialog-titlebar{border-left: 2px solid gray; border-right: 2px solid gray; border-top: 2px solid gray; background:rgba(33, 72, 100, 1.0)}
.ui-dialog-buttonset{border-left: 2px solid gray; border-right: 2px solid gray; border-bottom: 2px solid gray; background:rgba(33, 72, 100, 1.0); text-align:center; padding-top: 10px; padding-bottom: 10px;}
.ui-button{border: 2px solid gray; border-radius: 16px; width: 30%; margin: 5px; padding-left: 10px; padding-right: 10px; float: center}
.ui-button-text{font-size: 16px; font-weight: bold; color: gray}
.modal{border-left: 2px solid gray; border-right: 2px solid gray; background:#214864; font-weight: bold; font-size: 16px; text-align: center; color: white; padding-bottom: 5px;}
